.fetchPeople__input {
  padding: 8px 12px;
  border: solid 2px;
  outline: none;
  width: 60%;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  transition: border 75ms linear;
  border-radius: 3px;

  &:focus {
    border: solid 2px #f1e05a;
  }
}
