.fetchPeople__card {
  font-weight: 500;
  font-family: 'hack';
  font-size: 16px;
  padding: 8px 12px;
  border: solid 2px;
  margin-right: 24px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 58px;
  justify-content: center;

  &--from {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
  }

  &:last-child {
    margin-bottom: 0;
  }
}